<!doctype html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animatedborder.css') }}">
  <title>Lifetime DATA </title>
</head>

<body>
  <h8>Sensor Data</h8>
  <button id="backButton" class="button">Back to Index</button>
  <div id="data-container"> </div>
  <div class="pagination-container">
    <button id="prev-page" class="button">Previous</button>
    <span id="current-page">Page {{ page }}</span> <button id="next-page" class="button">Next</button>
  </div>

    <script src="{{ url_for('static', filename='js/data_script.js') }}"></script>
</body>

</html>