<!doctype html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animatedborder.css') }}">
  <title>Lifetime DATA </title>
</head>

<body>
  <div class="outer-container">
    <h1>Sensor Data</h1>

    <div id="data-container" class="data-container">
      </div>

    <div class="pagination-container">
      <button id="prev-page" class="button disabled" disabled>Previous</button>
      <span id="current-page">Page 1</span>
      <button id="next-page" class="button">Next</button>
    </div>

    <script src="{{ url_for('static', filename='js/data_script.js') }}"></script>
  </div>
</body>

</html>