<!doctype html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animatedborder.css') }}">
  <title>Welcome to my page!</title>
</head>

<body>
  <div class="outer-container">
  <h1>Math Master</h1>
  <h2 id="score"></h2>
  <main class="card" id="card">
    <div class="container">
      <div class="box">
        <h3 id="problem"></h3>
      </div>
      <form id="input">
        <input name="answer" type="number" step="0.01" placeholder="ANSWER" autocomplete="off" required/>
        <button type="submit" class="button">ENTER</button>
      </form>
    </div>
  </main>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  </div>
</body>

</html>