<!doctype html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animatedborder.css') }}">
  <title>Welcome to my page!</title>
</head>

<body>
  <div class="outer-container">
  <h1>Air Monitor</h1>
  <h2 id="score"></h2>
  <main class="card" id="card">
    <div class="container">
      <table>
        <thead>
          <tr>
            <th></th> <th>MIN</th>
            <th>MAX</th>
            <th>LATEST</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>eCO2</td>
            <td id="eCO2_min">9999</td>
            <td id="eCO2_max">9999</td>
            <td id="eCO2_latest">404</td>
          </tr>
          <tr>
            <td>TVOC</td>
            <td id="TVOC_min">9999</td>
            <td id="TVOC_max">9999</td>
            <td id="TVOC_latest">7</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </div>
</body>

</html>